body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  }


.full-screen {
  width: 100vw; /* Largura da janela */
  height: 100vh; /* Altura da janela */
  background-color: #6411D9; /* Cor de fundo */
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  /* background-color: #350973; */
  background: radial-gradient(#6E0BF9,#350973 );
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #Ffffff;
  z-index: 7;
}

.circular .circle {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.circular .circle .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  clip-path: inset(0 0 0 50%);
  background-color: transparent;
}

.circular .circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F27405;
  border-radius: 50%;
  clip-path: inset(0 0 0 50%);
}

.circular .circle .left {
  transform: rotate(0deg);
  z-index: 1;
}

.circular .circle .left .progress {
  animation: left-spin 60s linear infinite;
}

.circular .circle .right .progress {
  animation: right-spin 60s linear infinite;
}

.circular .circle .right {
  transform: rotate(180deg);
  z-index: 2;
}

@keyframes left-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes right-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
